h1
{
  color: blue;
}
nav{
font-family: 'Pacifico', cursive;
background-color: blue;
}
body{
font-family: 'Gloria Hallelujah', cursive;
  /* background-color: grey; */
}
.login{
  background-color: blue;
}
#insta{
  font-family: 'Pacifico', cursive;
}
.navbar navbar-inverse{
  color: blue;
}
