{% extends 'allofinsta/base.html' %}
{% load static %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">

{% for image in images %}
<div class="w3-container">
  <div class="w3-row">
    <div class="w3-card-4" style="background-color:white;margin-left:18%;margin-right:28%;opacity:0.9;margin-top:6%;">

    <h2>{{image.image_name}}</h2>
    <p>{{image.caption}}</p>
    <p>{{image.image.url}}</p>
  </div>

  </div>

</div>
{% endfor %}
{% endblock %}
